:root {
  --accent: #ff855b;
  --color-text: #333;
  --color-bg: #fff8f0;
}
/*LOGIN DROPDOWN*/
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--color-bg);
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 1rem;
  min-width: 220px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: translateY(-5px);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}
.dropdown.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.dropdown.hide {
  opacity: 0;
  transform: translateY(-5px);
  pointer-events: none;
}
.user-login-container {
  position: relative;
  display: inline-block;
}
.dropdown h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.dropdown form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dropdown label {
  display: block;
  margin-top: 0.5rem;
  font-weight: 600;
}
.dropdown input {
  width: 100%;
  padding: 0.4rem;
  margin-top: 0.3rem;
  border: 1px solid var(--accent);
  border-radius: 16px;
  background-color: #f6a185;
}
.button_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.button_group button {
  background-color: #f6a185;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.button_group a {
  color: var(--accent);
  text-decoration: underline;

  font-size: 0.9rem;
}
.button_group button:hover {
  background-color: var(--accent);
}
