body {
  margin: 0;
}
.navbar {
  background-color: #ff7a50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 60px;
  position: relative;
  gap: 2rem;
}
.left-section {
  display: flex;
  align-content: center;
  gap: 2rem;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-icons {
  display: flex;
  gap: 1.5rem;
  color: var(--color-text);
  align-items: center;
  position: relative;
}
.icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
  color: black;
  transition: transform 0.2s ease, color 0.2s ease;
}
.icon:hover {
  transform: scale(1.1);
  color: white;
}
.logo {
  height: 40px;
  width: auto;
}
/* MENU A TENDINA */
.navdropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff3ec;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 160px;
  z-index: 10;
}
.navdropdown {
  position: relative;
  list-style-type: none;
}
.navdropdown button {
  background: none;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.navdropdown button.active {
  color: white;
}
/* elementi menu a tendina*/
.navdropdown-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.navdropdown-menu li:hover {
  background-color: #ffe1d3;
}
